body {
    background-color: chocolate;
}

form {
    background-color: blue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 40px;
    text-align: center;
}

div {
    background-color: cadetblue;
    margin: 60px;
}

button:hover {
    background: crimson;
}

input {
    text-align: center;
}